* {
    font-family: "Instrument Sans", serif;
    font-style: normal;
    text-align: justify;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

h3 {
    padding-block: 7px;
}

body {
    /* padding: 5px 90px 5px 90px; */
    background-color: #c0dcc3;
}

.secs {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

.container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    font-size: small;
    padding-block: 10px;
}

.container div {
    color: black;
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 30px 100px 30px 100px;
}

.title {
    text-align: center;
    background-color: #f8e9a6;
    border-radius: 10px;
    column-gap: 0;
}

#projects {
    display: block;
    gap: 30px;
    padding: 30px 50px 30px 50px;
    background-color: #ecf2e4;
    width: 100%;
}

.project {
    margin-block: 30px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.project > img {
    width: 50%;
    padding: 20px;
    display: block;
    margin: auto;
}

button {
    border: none;
    border-radius: 15px;
    background-color: beige;
    margin-top: 10px;
    padding: 5px 8px 5px 8px;
}

#about, #contact {
    padding-inline: 50px;
    background-color: #f8e9a6;
}

#about {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 50px;
}

#contact {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

#contact img {
    width: 35px;
    margin-bottom: 50px;
}

footer {
    background-color: #c0dcc3;
    padding-block: 100px;
    font-size: small;
    justify-items: center;
}