* {
    font-family: "Instrument Sans", serif;
    font-style: normal;
    text-align: justify;
}

body {
    padding: 5px 90px 5px 90px;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    font-size: small;
    padding-block: 5px;
}

.home {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 30px 20px 0 0;
    margin-bottom: 30px;
}

.projects {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-block: 30px;
}

.projects > div {
    flex: 1;
}

.project {
    margin-block: 30px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.project > img {
    width: 88%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}

.logo {
    margin-block: 30px;
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 30px;
}

.contact img {
    width: 35px;
    margin-bottom: 30px;
}

footer {
    margin-top: 30px;
    font-size: small;
    justify-items: center;
    line-height: 8px;
}